{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4" style="color: #00d4ff;">Add New Post</h2>
    <form method="POST" action="" novalidate class="shadow-lg p-4 bg-dark text-white rounded">
        {{ form.hidden_tag() }}
        {% from 'form_macros.html' import render_field %}

        <div class="mb-3">
            {{ render_field(form.title) }}
        </div>
        <div class="mb-3">
            {{ render_field(form.content) }}
        </div>
        <div class="mb-3">
            {{ render_field(form.category) }}
        </div>
        <div class="mb-3">
            {{ render_field(form.publication_date) }}
        </div>
        <div class="mb-3">
            {{ render_field(form.author) }} <!-- Поле Author -->
        </div>
        <div class="mb-3">
            {{ render_field(form.tags) }} <!-- Поле тегс -->
        </div>
        <div class="form-check mb-3">
            {{ render_field(form.is_active) }}
            <label class="form-check-label">Is Active</label>
        </div>
        <div class="text-center">
            {{ form.submit(class="btn btn-primary btn-lg") }}
        </div>
    </form>
</div>
{% endblock %}
