<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

    <!-- Тут буде меню і контент -->
    <header>
        {% include 'navbar.html' %}
    </header>

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <script>
        // JavaScript для плавного появлення секцій при скролінгу
        const sections = document.querySelectorAll('section');

        const observer = new IntersectionObserver(entries => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    entry.target.classList.add('in-view');
                }
            });
        });

        sections.forEach(section => {
            observer.observe(section);
        });
    </script>
</body>
</html>
