<!-- templates/resume.html -->
{% extends 'base.html' %}

{% block content %}
<section id="about">
    <h2>Про себе</h2>
    <p>Тут буде інформація промене яку я буду довго та круто розписувати</p>
    <div class="abstract"></div>
</section>

<section id="education">
    <h2>Освіта</h2>
    <p>Тут інформація про мою освіту.</p>
</section>

<section id="skills">
    <h2>Навички</h2>
    <ul>
        <li>Python</li>
        <li>Flask</li>
        <li>aiogram</li>
        <li>SQLAlchemy</li>
    </ul>
    <div class="abstract"></div>
</section>

<section id="experience">
    <h2>Проекти</h2>
    <p>Тут я буду максимально довго та цікаво описувати свої проєкти коли вони у мене з'являться</p>
</section>

<section id="image">
    <h2>Фото</h2>
        <img src="{{ url_for('static', filename='images/profile.webp') }}" alt="Фото профілю" style="max-width: 300px; border: 2px solid white;">
</section>
{% endblock %}
